{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% load i18n %}
{% block content %}
{% include "parts/cart.html" %}
<style>
.star-ratings-rating-average, .star-ratings-rating-count {
    display: block;
	
}

</style>
<div class="container">
	<div class="row">
		{% if LANGUAGE_CODE == 'ar' %}
		<div style="text-align: right;" class="col-lg-6">
		{% else %}
		<div class="col-md-6">
		{% endif %}		
		 <a href="{{product.imageURL}}"><img src="{{product.imageURL}}" class="img-details" alt=""></a>
		 <br>
		 

		 
		</div>
		{% if LANGUAGE_CODE == 'ar' %}
		<div style="text-align: right;" class="col-lg-6 mt-3">
			
			<h6>{{product.name_ar}}</h6>
			<p>{{product.price}} {% trans "Eg" %}</p>
		<!-- <h2>{% trans "Your Rate" %}</h2> -->
		{% ratings product icon_width=15 %}
		

			{% if user.customer in product.like.all %}
			<a class="wish-list-link" href="{% url 'products:like_item' product.PRDSLug %}">{% trans "Remove from wish list" %}</a>
			{% else %}
			<a class="wish-list-link" href="{% url 'products:like_item' product.PRDSLug %}">{% trans "Add to wish list" %}</a>
			{% endif %}
				
			<hr>
			
		   <h6 style="width: 103px;">{% trans "Description" %} :</h6>
		   <p>{{product.discription_ar}}</p>
		   
		   <hr>
		   <!-- <table class="w-50 mb-5">

			<tbody>
			  <tr>
				<td><h6>Model</h6></td>
				<td>Thornton</td>
			  </tr> 
			  <tr>
				<td><h6>{% trans "Price" %}</h6></td>
				<td>$200</td>
			  </tr>
			  <tr>
				<td><h6>Color</h6></td>
				<td>black</td>
			  </tr> 




			</tbody>
		  </table> -->


		  
		  <!-- <button type="button" class="btn btn-md mr-1 mb-2" style="background-color: #6610f2;color: aliceblue;">Buy now</button> -->
		  <button style="height: 39px;vertical-align:-1px" data-product="{{product.id}}" data-action="add" class="add-to-cart-button update-cart">
			<svg class="add-to-cart-box box-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="24" height="24" rx="2" fill="#ffffff"/></svg>
			<svg class="add-to-cart-box box-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="24" height="24" rx="2" fill="#ffffff"/></svg>
			<svg class="cart-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
			<svg class="tick" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path fill="#ffffff" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29L5.7 12.7c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z"/></svg>
			<span class="add-to-cart">{% trans 'Add to cart' %}</span>
			<span class="added-to-cart">{% trans "Added to cart" %}</span>
		</button>


		</div>
		
	</div>
		{% else %}
		<div class="col-md-6 mt-3">
			
			<h6>{{product}}</h6>
			<p>{{product.price}} {% trans "Eg" %}</p>
		<!-- <h2>{% trans "Your Rate" %}</h2> -->
		{% ratings product icon_width=15 %}
		

			{% if user.customer in product.like.all %}
			<a class="wish-list-link" href="{% url 'products:like_item' product.PRDSLug %}">{% trans "Remove from wish list" %}</a>
			{% else %}
			<a class="wish-list-link" href="{% url 'products:like_item' product.PRDSLug %}">{% trans "Add to wish list" %}</a>
			{% endif %}
				
			<hr>
			
		   <h6 style="width: 103px;">{% trans "Description" %} :</h6>
		   <p>{{product.discription}}</p>
		   
		   <hr>
		   <!-- <table class="w-50 mb-5">

			<tbody>
			  <tr>
				<td><h6>Model</h6></td>
				<td>Thornton</td>
			  </tr> 
			  <tr>
				<td><h6>{% trans "Price" %}</h6></td>
				<td>$200</td>
			  </tr>
			  <tr>
				<td><h6>Color</h6></td>
				<td>black</td>
			  </tr> 




			</tbody>
		  </table> -->


		  
		  <!-- <button type="button" class="btn btn-md mr-1 mb-2" style="background-color: #6610f2;color: aliceblue;">Buy now</button> -->
		  <button style="height: 39px;vertical-align:-1px" data-product="{{product.id}}" data-action="add" class="add-to-cart-button update-cart">
			<svg class="add-to-cart-box box-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="24" height="24" rx="2" fill="#ffffff"/></svg>
			<svg class="add-to-cart-box box-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="24" height="24" rx="2" fill="#ffffff"/></svg>
			<svg class="cart-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
			<svg class="tick" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path fill="#ffffff" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29L5.7 12.7c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z"/></svg>
			<span class="add-to-cart">{% trans 'Add to cart' %}</span>
			<span class="added-to-cart">{% trans "Added to cart" %}</span>
		</button>


		</div>
		
	</div>
		{% endif %}	
		

<!-- end row -->
</div><!-- end container -->

{% endblock %}