{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% load i18n %}
{% block content %}
{% include "parts/cart.html" %}
{% include "parts/slider.html" %}
<div id="cards_landscape_wrap-2">
    <div class="container">

        <form method="post">
            {% csrf_token %}
            {{customer_form}}
        </form>
        <!-- <div class="row justify-content-center mb-3">
            <div class="col">
              <ul class="nav nav-category">
                    <li class="nav-item">
                    <a id="" class="nav-link" href="/products/">&nbsp; All &nbsp;&nbsp;</a>
                    </li>
                {% for cat in categories %}   
                    <li class="nav-item">
                    <a id="" class="nav-link" href="/products/?category={{cat.id}}">{{cat}}</a>
                    </li>
                {% endfor %}
              </ul>
            </div>
          </div> -->
        <div class="row">
            {% for product in products %}
            
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card-flyer">
                        <div class="text-box">
                 
                            <div class="image-box">
                                <img src="{{product.imageURL}}" alt="" />
                            </div>
                            <h3 class="price">{{product.price}} <small>Eg</small></h3>
                            <div class="text-container">
                                <a class="title" href="{{product.get_absolute_url}}">{{product}}</a>
                                
                            </div>

                            
                            <button data-product="{{product.id}}" data-action="add" class="add-to-cart-button update-cart">
                                <svg class="add-to-cart-box box-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="24" height="24" rx="2" fill="#ffffff"/></svg>
                                <svg class="add-to-cart-box box-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="24" height="24" rx="2" fill="#ffffff"/></svg>
                                <svg class="cart-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                                <svg class="tick" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path fill="#ffffff" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29L5.7 12.7c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z"/></svg>
                                <span class="add-to-cart ">{% trans "Add to cart" %}</span>
                                <span class="added-to-cart">{% trans "Added to cart" %} </span>
                            </button>

                            <!-- {% if request.user.customer in product.like.all %}
                            <button data-product="{{product.id}}" data-action="add" class="love  like-product"><i class="fas fa-heart" style="color: crimson;"></i>
                            {% else %}
                                <button data-product="{{product.id}}" data-action="add" class="love   like-product"><i class="fas fa-heart" style="color: darkgrey;"></i></i></button>
                            {% endif %} -->
                        </div>
                    </div>
                </div>
            {% endfor %}
    
        </div>
    </div>
    </div>
{% endblock  %}

