{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<div class="container">
  <div class="row body-row">
    {% if LANGUAGE_CODE == 'ar' %}
    <form style="text-align: right;" method="POST">
    {% else %}
    <form method="POST">
    {% endif %}
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
        <p>{{ form|crispy }}</p> 
      <input type="submit" class="form_btn form-control" value="{% trans 'Reset Password' %}">
    </form>
  </div>
</div>
{% endblock %}