{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="row body-row">
    {% if validlink %}
    {% if LANGUAGE_CODE == 'ar' %}
        <form style="text-align: right;" method="post">
            {% else %}
        <form method="post">
            {% endif %}
        {% csrf_token %}
        {{form|crispy }}
        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" value="" onclick="showResetConfirmPassword()">
            <label class="form-check-label pr-3">
              {% trans "Show Password" %}
            </label>
           </div>
        <input type="submit" class="form_btn form-control" value="{% trans 'Change my password' %}" />
        </form>
    {% else %}
        <h1> {% trans "Password reset failed" %}</h1>
        <p> {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %} </p>
    {% endif %}
    </div>
</div>
{% endblock %}